html {
	font-size: 16px;
}

body {
	opacity: 0;
}

.body-show {
	-webkit-animation: animShow 0.3s 0s forwards;
	animation: animShow 0.3s 0s forwards;
}

@keyframes animShow {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes animShow {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.msgtips {
	width: 100%;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999999;
	-webkit-animation: animSlideTop 0.3s 0s forwards;
	animation: animSlideTop 0.3s 0s forwards;
}

.msgtips.e {
	background: #ff6666;
}

.msgtips.s {
	background: #41bf54;
}

.msgtips.out {
	-webkit-animation: animOut 0.3s 0s forwards;
	animation: animOut 0.3s 0s forwards;
}

@keyframes animSlideTop {
	0% {
		opacity: 1;
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes animOut {
	0% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	100% {
		transform: translate3d(0, -100%, 0);
		opacity: 0;
	}
}

@-webkit-keyframes animSlideTop {
	0% {
		opacity: 1;
		-webkit-transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes animOut {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translate3d(0, -100%, 0);
		opacity: 0;
	}
}

.wx_loading {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 90;
	background-color: transparent;
	display: none;
}

.wx_loading_inner {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -70px;
	margin-top: -48px;
	width: 140px;
	border-radius: 6px;
	font-size: 14px;
	padding: 58px 0 10px 0;
}

.wx_loading_icon {
	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -16px;
	width: 24px;
	height: 24px;
	border: 2px solid #fff;
	border-radius: 24px;
	-webkit-animation: gif 1s infinite linear;
	animation: gif 1s infinite linear;
	clip: rect(0 auto 12px 0);
}

@keyframes gif {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes gif {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

.text-line1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
